body {
  background-color: #3A6EA5;
  font-family: 'SF Pro Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: lightskyblue;
}

button {
  font-family: 'MS Sans Serif';
  font-size: 8px;
  background-color: lightgray;
  border: 2px unset gray;
}